doctype 5
html
  head
    title= title
    script(src='http://code.jquery.com/jquery.js')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/javascripts/userclient.js')  
  body(style="background-color:aqua")
    block content